<app-nav></app-nav>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    karyawan edit
  </div>
  <div class="panel-body">
    <form class="form-horizontal" (submit)="updateKaryawan()">
      
       <div class="form-group">
         <label for="no_induk" class="col-sm-2 control-label">Nomor Induk</label>
         <div class="col-sm-9">
           <input type="text" class="form-control" [(ngModel)]="model.no_induk" name="no_induk">
         </div>
       </div>

      <div class="form-group">
         <label for="nama" class="col-sm-2 control-label">Nama Lengkap</label>
         <div class="col-sm-9">
           <input type="text" class="form-control" [(ngModel)]="model.nama" name="nama">
         </div>
       </div>

      <div class="form-group">
         <label for="alamat" class="col-sm-2 control-label">Alamat Lengkap</label>
         <div class="col-sm-9">
           <input type="text" class="form-control" [(ngModel)]="model.alamat" name="alamat">
         </div>
       </div>

      <div class="form-group">
         <label for="jabatan" class="col-sm-2 control-label">Jabatan</label>
         <div class="col-sm-9">
           <input type="text" class="form-control" [(ngModel)]="model.jabatan" name="jabatan">
         </div>
       </div>

      <div class="form-group">
         <label for="no_telpon" class="col-sm-2 control-label">No telpon</label>
         <div class="col-sm-9">
           <input type="text" class="form-control" [(ngModel)]="model.no_telpon" name="no_telpon">
         </div>
       </div>

       <div class="form-group">
         <label for="email" class="col-sm-2 control-label">E-mail</label>
         <div class="col-sm-9">
           <input type="text" class="form-control" [(ngModel)]="model.email" name="email">
         </div>
       </div>

       <div class="form-group">
         <div class="col-sm-offset-2 col-sm-8">
           <button type="submit" class="btn btn-success">Update</button>
           <a class="btn btn-info" (click)="goBack()">Cancel</a>
         </div>
       </div>

    </form>
  </div>
</div>
</div>