<app-nav></app-nav>
<html>
<body>
    <div id=navigator>
    <div class=navigator-div> </div>
    <div class=navigator-div> </div>
    <div class=navigator-div> </div>
    <div class=navigator-div> </div>
    
    <div class=navigator-content>
      <a class="content"content href=#>Home</a>
      <a class="content" [routerLink]="['/data/karyawan']" >Data karyawan</a>
      <a class="content" href="#">Coding</a>
      <a class="content" href="#">Payments</a>
      <a class="content" href="#">Info</a>
    </div>
  </div>
</body>
</html>

